.add-category-node-form {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
}

.add-category-node-form__text-input {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

.add-category-node-form__button {
  width: 100%;
}
