.login-form {
  /* display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; */

  position: fixed;
  left: 50%;
  top: 50%;
  justify-content: center;
  font-size: 1.2rem;
  color: #fff;
  padding: 20px;
  transform: translate(-50%, -50%);
  width: 370px;
  height: 250px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: rgba(255, 0, 64, 0.95);
}

.login-form__error {
  color: #000;
  padding: 5px;
  font-size: 0.9rem;
  font-weight: 700;
}

.login-form input {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

.login-form button {
  cursor: pointer;
  display: block;
  padding: 5px;
  font-weight: 700;
  /* background-color: rgba(34, 139, 34, 1); */
  background-color: rgb(10, 225, 101);
  color: rgb(1, 1, 61);
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.sign-in-form button {
  background-color: rgb(3, 143, 232);
  color: #fff;
}

.login-form button:hover,
.sign-in-form button:hover {
  background-color: rgb(1, 1, 61);
  color: #fff;
}

.login-form__sign-in div {
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.login-form__sign-in button {
  margin: 0;
}
