.new-node-form-switch {
  position: relative;
}

.new-node-form-switch__header {
  /* color: rgba(34, 139, 34, 1); */
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.new-node-header {
  margin-top: 10px;
}

.new-node-form-switch__radio-input label {
  display: block;
  cursor: pointer;
  margin-bottom: 5px;
}
