$node-width: 140px;
$node-height: 140px;
$z-index-parent: 0;

.node__wrapper {
  display: flex;
  align-items: center;
  // justify-content: space-evenly;
}

.node {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: #000;
  font-weight: 700;
  padding: 5px;
  width: $node-width;
  height: $node-height;
  border-radius: 50%;
  background-color: rgba(236, 214, 15, 0.8);
  background-size: cover;
  cursor: pointer;
  margin: 1px 10px 1px 2px;
  z-index: $z-index-parent;

  &:hover {
    background-color: rgba(236, 214, 15, 0.75);
  }
}

.node:first-child .reduce {
  width: $node-width / 2;
  height: $node-height / 2;
  font-size: 0.5rem;
}

.node-selected {
  position: absolute;
  bottom: 35px;
  left: 42px;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 9999;

  button {
    background-color: rgba(10, 225, 101, 0.9);
    font-size: 0.65rem;
    border-radius: 3px;
    border: 2px solid #fff;
    margin: 1px;
    font-weight: 900;
    color: #fff;
    cursor: pointer;

    &:hover {
      border: 2px solid rgb(207, 23, 85);
      background-color: rgba(172, 173, 74, 0.6);
    }
  }
}

.node-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 50px;
  color: #fff;
  font-weight: 800;
  font-size: 0.8rem;
  border: solid 3px #fff;
  background-color: rgb(207, 23, 85);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 1px 9px;
  cursor: pointer;

  &:hover {
    border: solid 3px rgba(172, 173, 74, 0.8);
  }
}

.node-expanded {
  background-image: url('./collapse.png');
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.node-link a {
  &:hover,
  &:active {
    color: rgb(207, 23, 85);
    font-weight: 900;
  }

  border-radius: 5px;
}

.node__children:last-child {
  position: absolute;
  top: 140px;
  z-index: $z-index-parent + 1;
}

// .node-child {
//   z-index: $z-index-parent + 1;
// }

@media only screen and (max-width: 850px) {
  .node__wrapper {
    display: inline-block;
    // align-items: center;
    // justify-content: space-evenly;
  }
  .node {
    width: 90px;
    height: 90px;
    font-size: 0.7rem;
    font-weight: 900;
  }

  .node-selected {
    left: 22px;
    bottom: 15px;

    button {
      font-size: 0.5rem;
      width: 20px;
    }
  }

  .node-counter {
    height: 30px;
    width: 30px;
    right: 30px;
  }
}
