.node__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.node {
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  font-size: 0.7rem;
  color: #000;
  /* color: rgb(207, 23, 85); */
  font-weight: 900;
  padding: 5px;
  /* margin-bottom: 100px; */
  width: 90px;
  height: 80px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgba(236, 214, 15, 0.92);
  /* background-image: url("./NeuralNetwork.jpg"); */
  /* opacity: 0.8; */
  background-size: cover;
  cursor: pointer;
  margin: 1px 10px 1px 2px;
}

.node:hover {
  border: 3px solid rgb(207, 23, 85);
  background-color: rgb(252, 255, 64);
}

.node-selected {
  /* font-size: 0.7rem; */
  position: absolute;
  top: 60px;
  left: -5px;
  display: flex;
  display: inline-block;
  justify-items: center;
  z-index: 9999;
}

.node-selected button {
  background-color: rgb(252, 255, 64);
  border-radius: 3px;
  border: 1px solid rgb(255, 255, 255);
  display: block;
  width: 100px;
  padding: 2px;
  margin-bottom: 1px;
  font-weight: 700;
  color: rgb(66, 66, 66);
  cursor: pointer;
}

.node-selected button:hover {
  border: 2px solid rgb(207, 23, 85);
  background-color: rgba(172, 173, 74, 0.9);
  color: rgba(255, 255, 255);
}

.node-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  right: 20px;
  color: #000;
  font-weight: 800;
  font-size: 0.8rem;
  border: solid 3px #fff;
  background-color: rgba(255, 245, 238, 0.9);
  border-radius: 50%;
  height: 30px;
  width: 32px;
  padding: 1px 9px;
  cursor: pointer;
}

.node-counter:hover {
  border: solid 3px rgb(207, 23, 85);
  background-color: rgba(255, 245, 238, 1);
}

.node-expanded {
  background-image: url("./collapse.png");
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.node-link a:hover,
.node-link a:active {
  color: rgb(207, 23, 85);
  font-weight: 900;
}

.node-category {
  position: absolute;
  left: 10px;
  text-align: center;
}
.node-link a {
  border-radius: 5px;
  /* margin-left: 20px; */
}
