.node {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 1.5rem; */
  color: #000;
  font-weight: 700;
  padding: 10px;
  margin-bottom: 100px;
  width: 120px;
  height: 40px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 30%;
  background-color: rgba(236, 214, 15, 0.822);
  cursor: pointer;
}

.node-selected {
  /* font-size: 0.7rem; */
  position: absolute;
  top: 60px;
  left: 14px;
  display: flex;
  display: inline-block;
  justify-items: center;
}

.node-selected button {
  background-color: rgb(236, 140, 15);
  border-radius: 8px;
  display: block;
  width: 120px;
  padding: 5px;
  margin: 0;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
